header {
  background-color: rgba(1, 1, 47, 0.979);
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
}

.name-img-div {
  display: flex;
  padding-left: 40px;
}

.score-header {
  display: flex;
  flex-direction: row;
  padding-right: 60px;
}

p {
  font-size: 18px;
  font-weight: 900;
  padding-right: 10px;
}

.name-header {
  margin: 0;
  padding: 20px 50px 0 0;
}

.gravatarImg {
  border-radius: 50%;
  height: 50px;
}
